<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
        <tr>
            <td><label for="tn">Topic_name</label></td>
            <td>
                <select name="tn" id="tn" >

<!-- #if we want to copy total objects then use below syntax.
<select name="tn" id="tn" multiple>
</select> -->

                    {% for to in LTO %}
                    <option value="{{to}}">{{to.topic_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="wn">name</label></td>
            <td><input type="text" name="wn" id="wn"></td>
        </tr>

        <tr>
            <td><label for="ur">Url</label></td>
            <td><input type="url" name="ur" id="ur"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
        </table>

    </form>
</body>
</html>